
@{
    ViewBag.Title = "Educational-Background";
}

<h2>EducationalBackground</h2>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Degree</th>
            <th scope="col">Institude</th>
            <th scope="col">Grade</th>
            <th scope="col">Passing Year</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>BSc</td>
            <td>American International University, Bangladesh</td>
            <td>3.34</td>
            <td>2018-Ongoing</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>HSC</td>
            <td>Royal Media College, Mymensingh</td>
            <td>3.69</td>
            <td>2016-2017</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>SSC</td>
            <td>Police Line High School, Mymensingh</td>
            <td>4.39</td>
            <td>2014-2015</td>
        </tr>
    </tbody>
</table>
