
@{
    ViewBag.Title = "Index";
}

<h2>Junayed Kabir Fahim</h2>
<h5>Email: junayedkabirfahim@gmail.com</h5>
<ul>
    <li><a href="/Person/PersonalBackground">See Personal Background</a></li>
    <li><a href="/Person/EducationalBackground">Educational Background</a></li>
    <li><a href="/Person/Projects">Projects</a></li>
    <li><a href="/Person/References">References</a></li>
</ul>