
@{
    ViewBag.Title = "PersonalBackground";
}

<h2>Personal Background</h2>
<hr />
<ul class="list-group">
    <li class="list-group-item active">SKILLS</li>
    <li class="list-group-item">Programming Languages: C, C++, Java, Javascript, PHP, C#</li>
    <li class="list-group-item">Web Framworks: Nodejs, Laravel, Asp.net</li>
    <li class="list-group-item">Css Framworks: Bootstrap, Material Ui</li>
    <li class="list-group-item">Databases: Mysql, Sql lite, Ms Sql Server, Oracle</li>
    <li class="list-group-item">IDE: Visual Studio, Vs code, Eclips, Netbeans</li>
    <li class="list-group-item">Browsers: Chrome, Microsoft Edge, Mozila Firefox</li>
</ul>

