
@{
    ViewBag.Title = "Projects";
}

<h2>Recent Projects & Live Projects</h2>
<hr />
<p>You can see my projects through visiting my Github profile</p>
<a class="btn btn-primary" href="www.github.com" role="button">Visit Github Profile</a>

