
@{
    ViewBag.Title = "References";
}

<h2>References</h2>
<p>
    Mashiour Rahman
    Associate Professor and Associate Dean, Faculty of Science & Technology
    American International University-Bangladesh
    E-mail: mashiour@aiub.edu
    cell: + 88 01711521065
</p>

<p>
    Dr. Dip Nandi
    Associate Professor and Director, Faculty of Science & Technology
    American International University-Bangladesh
    E-mail: dip.nandi@aiub.edu
    Cell: +88 02 8816173-4
</p>
